@charset "UTF-8";
/* ==============================
base
============================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  color: #000;
  text-decoration: none;
  background-color: #ff9;
}

/* change colours to suit your needs */
mark {
  font-style: italic;
  font-weight: 700;
  color: #000;
  background-color: #ff9;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

input,
select {
  vertical-align: middle;
}

html {
  min-height: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100%;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}
@media screen and (min-width: 1065px) {
  h1 {
    font-size: 7.2rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}
@media screen and (min-width: 1065px) {
  h2 {
    font-size: 6rem;
  }
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
@media screen and (min-width: 1065px) {
  h3 {
    font-size: 4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button {
  background: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

p,
span {
  font-size: 1.8rem;
}
@media screen and (min-width: 1065px) {
  p,
  span {
    font-size: 2rem;
  }
}

/* ==============================
layout
============================== */
/* ==============================
object
============================== */
/* Component
------------------------------ */
/* Project
------------------------------ */
/* Utility
------------------------------ */